@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

a.link {
  color: inherit;
  text-decoration: none;
}

a.logo {
  color: #d95a88;
}

body {
  color: #610527;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
}

h1 {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
}

html {
  font-size: 62.5%;
}

ul {
  padding-inline-start: 1em;
  list-style-type: '– ';
}

.aside {
  text-align: right;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
}

.contact-form__entries {
  display: flex;
  flex-wrap: wrap;
}

.contact-form__entry {
  background-color: #f5d6e1;
  border-radius: 8px;
  flex: 1 0 40%;
  min-width: 250px;
  margin: 0 0.3em 0.3em 0;
  position: relative;
}

.contact-form__entry:focus-within {
  background-color: #ebadc3;
}

.contact-form__entry--textarea .contact-form__input {
  resize: vertical;
}

.contact-form__input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 1.1em 0.6em 0.3em;
  width: 100%;
}

.contact-form__label {
  box-sizing: border-box;
  left: 0;
  padding: 1.1em 0.6em 0.3em;
  pointer-events: none;
  position: absolute;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.contact-form__entry--non-empty > .contact-form__label,
.contact-form__input:focus ~ .contact-form__label {
  font-size: 1.23607rem;
  padding-top: 0.3em;
}

.contact-form__required-indicator {
  color: #d95a88;
}

.contact-form__submit {
  align-self: flex-end;
  background-color: #cd3268;
  border: none;
  border-radius: 8px;
  color: #fcf3f6;
  cursor: pointer;
  font-size: inherit;
  letter-spacing: 0.1em;
  margin: 0 0.3em 0.3em 0;
  text-transform: uppercase;
  padding: 0.6em 1.8em;
}

.footer {
  font-size: 1.23607rem;
  text-align: right;
}

.footer__link {
  color: #d95a88;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-bio {
  margin-bottom: 3em;
}

.img-container {
  margin: 0rem 0 10rem;
  text-align: right;
  font-size: 1.23607rem;
  color: #777;
}

.img-container__description {
  text-align: right;
}

.img-container__img {
  max-height: 85vh;
  max-width: 100%;
}

.img-container__img--bio {
  max-width: 90vw;
}

.img-container__title {
  font-style: italic;
}

.imgs-group {
  display: flex;
  justify-content: space-between;
  /* align-items is a workaround for a Safari issue. Workaround from Stack Overflow: https://stackoverflow.com/questions/57516373 */
  align-items: center;
  max-width: 100%;
  margin-bottom: 5em;
}

.imgs-group:last-of-type {
  margin-bottom: 0;
}

.imgs-group-2 img {
  flex: 1 1 0;
  max-width: 45%;
}

.imgs-group-3 img {
  flex: 1 1 0;
  max-width: calc(80% / 3);
}

.imgs-group-4 img {
  flex: 1 1 0;
  max-width: calc(70% / 4);
}

.imgs--index > .img-container:last-child {
  display: none;
}

.logo {
  font-size: 3.23606rem;
}

.nav__entry {
  font-size: 2rem;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

.nav__list {
  list-style-type: none;
}

.wrapper {
  display: grid;
  justify-items: end;
  gap: 3em;
}

@media (min-width: 850px) {
  main {
    justify-self: center;
    width: 100%;
  }

  .aside {
    flex: 1 1 100px;
  }

  .img-container__img--bio {
    max-width: 30vw;
  }

  .imgs--index {
    display: flex;
  }

  .imgs--index > .img-container {
    margin-right: 1em;
    margin-top: 11rem;
  }

  .imgs--index > .img-container:last-child {
    display: initial;
  }

  .wrapper {
    grid-template-columns: 1fr 4fr;
    align-items: start;
    margin: 2%;
  }
}

@media (min-width: 1054px) {
  .imgs--index > .img-container {
    margin-top: 6.6rem;
  }
}
