@import url('https://fonts.googleapis.com/css?family=Sanchez');

a.link {
  color: inherit;
  text-decoration: none;
}

a.logo {
  color: #d95a88;
}

body {
  font-family: Sanchez, sans-serif;
  font-size: 62.5%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.img {
  max-width: 100%;
}

logo {
  font-size: 2rem;
  text-transform: lowercase;
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav__entry {
  font-size: 1.25rem;
  text-transform: lowercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
